body {
    background: #242b31;
    position: relative;
}

.container {
    width: 800px;
    height: 610px;
    background-image: url('../images/mapa.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    position: relative;
    display: none;
    cursor: crosshair;
}

.castle {
    margin: auto;
    width: 50px;
    height: 50px;
    background-image: url('../images/nexus.png');
    z-index: 2;
    background-size: contain;
    position: absolute;
    top: 280px;
    left: 390px;
}

.myDiv {
    position: absolute;
}

.new-object {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
}

.minion {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
}

.bomb {
    width: 20px;
    height: 20px;
    background-image: url('../images/bomba.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 405px;
    top: 295px;
    border-radius: 50%;
}

.yourScore {
    font-family: 'Luckiest Guy', cursive;
    float: left;
    width: 260px;
    border: 3px solid black;
    background: lightgrey;
    font-size: 18px;
    margin-top: 200px;
    display: none;
}

.startGame {
    width: 100%;
    height: 100%;
    background-image: url('../images/start.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: auto;
    color: #08091d;
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    position: relative;
    padding-bottom: 50px;
}

h1 {
    margin-top: 0;
    font-size: 5em;
}

form {
    padding-top: 250px;
}

form label {
    font-size: 2em;
    font-weight: bold;
}

h3 {
    color: white;
    font-weight: bold;
    font-family: 'Shrikhand', cursive;
}

.gameOver {
    width: 100%;
    height: 610px;
    font-family: 'Luckiest Guy', cursive;
    text-align: center;
    background-image: url('../images/finish.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: none;
}

.gameOver table {
    margin-left: 30px;
    background-color: lightgrey;
    border: 2px solid darkblue;
    float: left;
    margin: 20px;
}

.gameOver table td {
    border: 1px solid darkblue;
}

.gameOver h2 {
    color: red;
    font-size: 4em;
}

.gameOver .title {
    float: left;
    margin-left: 200px;
    margin-top: 100px;
}

h4 {
    color: white;
    font-size: 1.5em;
}

.death {
    width: 40px;
    height: 40px;
    background-image: url('../images/death.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

.start, .instruction, .author {
    background: #1e5799;
    background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
    background: -webkit-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
    background: linear-gradient(to bottom, #08091d 0%, #2989d8 50%, #08091d 51%, #0099cc 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8', GradientType=0);
    border: 1px solid #bbbbbb;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    -moz-box-shadow: 2px 2px 3px blue;
    -webkit-box-shadow: 2px 2px 3px blue;
    box-shadow: 2px 2px 3px blue;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    margin-top: 3px;
    font-family: Calibri, Verdana, Arial, sans-serif;
    font-size: 18px;
    padding: 3px 10px;
}

.start:hover, .instruction:hover, .author:hover {
    -moz-box-shadow: 2px 2px 3px blue inset;
    -webkit-box-shadow: 2px 2px 3px blue inset;
    box-shadow: 2px 2px 3px blue inset;
}

.authorDiv {
    width: 40%;
    margin: auto;
    display: none;
    box-shadow: 2px 2px 3px grey;
    border: 4px solid #0099cc;
    border-radius: 35px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.80) 0%, rgba(0, 0, 0, 0.50) 100%);
    color: #9C9C9C;
}

.authorDiv h1 {
    margin: 0px;
    font-family: 'Shrikhand', cursive;
}

.instructionDiv {
    width: 65%;
    margin: auto;
    display: none;
    border: 4px solid #0099cc;
    border-radius: 35px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.90) 0%, rgba(0, 0, 0, 0.70) 100%);
    color: white;
    font-family: 'Itim', cursive;
    font-size: 20px;
}

.instructionDiv h1 {
    margin: 0px;
}

.saundValue {
    position: absolute;
    right: 20px;
    bottom: 20px;
    margin-right: 100px;
    font-size: 30px;
    color: white;
    font-family: 'Shrikhand', cursive;
}

.nick {
    border-radius: 7px;
    height: 25px;
    font-size: 15px;
    box-shadow: 2px 2px 3px grey;
    border: 2px solid #0099cc;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.80) 0%, rgba(0, 0, 0, 0.50) 100%);
    color: white;
}

.nickLabel {
    font-family: 'Shrikhand', cursive;
}
